# nginx proxy address - http://172.17.0.1:8090


x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

name: pocketbase
services:
  app:
    logging: *default-logging
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    command: --encryptionEnv ENCRYPTION
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      ENCRYPTION: ${ENCRYPTION_KEY:-changeme_encryption_key}
    ports:
      - '8090:8090'
    volumes:
      - './rootfs/db/pocketbase:/pb_data'
      - './rootfs/data/pocketbase/hooks:/pb_hooks'
      - './rootfs/data/pocketbase/public:/pb_public'
      - './rootfs/config/pocketbase/initdb:/pb_migrations'
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8090/api/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 5
    extra_hosts:
      - 'localhost:172.17.0.1'
      - 'pocketbase:host-gateway'
      - 'host.docker.internal:host-gateway'
    networks:
      - pocketbase

networks:
  pocketbase:
    name: pocketbase
    external: false
